@model IEnumerable<CookBookProject.Models.OnePotRecipe>

@{
    ViewBag.Title = "Index";
}

<h2>One Pot Recipes</h2>

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table" id="OnePotRecipesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.recipeType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.recipeType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <img src="@item.ImgURL" style="max-width:200px; max-height: 100px" />
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) <span>|</span>
                    }

                    @Html.ActionLink("Details", "Details", new { id = item.id })
                    @if (User.IsInRole("Administrator"))
                    {
                        <button data-id="@item.id" class="btn btn-danger js-delete"><i class="fa fa-fw fa-trash"></i>Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>

        var table = $("#OnePotRecipesTable").DataTable();
        $("#OnePotRecipesTable .js-delete").click(function () {
            var button = $(this);
            bootbox.confirm("Are you sure you want to delete this recipe?",
                function (result) {
                    if (result) {
                        $.ajax({
                            method: "GET",
                            url: "/OnePotRecipes/Delete/" + button.attr("data-id"),
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }

                        });
                    }
                });
        });



    </script>
}
