<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
@using CookBookProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row mb-2 mb-md-3">
    <h1 class="text-center w-100">Login or <a>@Html.ActionLink("Register as a new user", "Register")</a></h1>
</div>
<br />
<div class="row w-75 mt-5">
    <br />
    <div class="col-sm-6 col-md-4 mb-2 mb-md-4 rounded">
        <div id="facebook" class="p-3 text-center">
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-white"></i></a>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4 mb-2 mb-md-4 rounded">
        <div id="twitter" class="p-3 text-center">
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-white"></i></a>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4 mb-2 mb-md-4 rounded">
        <div id="google-plus" class="p-3 text-center">
            <a href="#"><i class="fa fa-3x fa-fw fa-google-plus text-white"></i></a>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4 mb-2 mb-md-4 rounded">
        <div id="github" class="p-3 text-center">
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-white"></i></a>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4 mb-2 mb-md-4 rounded">
        <div id="pinterest" class="p-3 text-center">
            <a href="#"> <i class="fa fa-3x fa-fw fa-pinterest text-white"></i></a>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-4 mb-2 mb-md-4 rounded">
        <div id="linkedin" class="p-3 text-center">
            <a href="#"><i class="fa fa-3x fa-fw fa-linkedin text-white"></i></a>
        </div>
    </div>
</div>

   <br />

<div class="row w-75 mb-2 mb-lg-3 mx-auto">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <p class="text-center">or</p>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <hr />
    </div>
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <i class="fa fa-fw fa-user col-md-2 control-label" style="vertical-align: top;"></i>

                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <i class="fa fa-fw fa-key col-md-2 control-label" style="vertical-align: top;"></i>

                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        
                        <button type="submit" value="Log in" class="btn btn-outline-submit" style="background-color: #e3f2fd;">
                            <i class="fa fa-sign-in"></i> Login
                        </button>
                    </div>
                </div>
         
                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}